<%= f.text_field :name %>

<div class="row">
	<div class="span3">
		<%= f.date_field :start_dt, :label => 'From' %>
	</div>
	<div class="span3">
		<%= f.date_field :end_dt, :label => 'To' %>
	</div>
</div>