<table class="table table-striped">
	<tbody>
		<% @season_pieces.each do |season_piece| %>
			<tr>
				<td>
					<%= season_piece.piece.name %>
					<%= "<br />".html_safe+content_tag(:span,"By: #{season_piece.piece.choreographer}", class: 'text-muted') if season_piece.piece.choreographer.present? %>
				</td>
				<td>
					Casts <%= content_tag :span, season_piece.casts.count, class: 'badge' %>
				</td>
				<td class="text-right">
					<% if allow? "casts", "index" %>
						<%= link_to "View Casts", season_piece_casts_path(season_piece), :id => "viewCast_#{season_piece.id}" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>