<div class="col-md-1">
  <%= gear_dropdown do %>
  	<% if allow? "seasons", "new" %>
  		<li><%= new_link "Add Season", new_season_path %></li>
  	<% end %>
    
  	<% if params['id'].present? && allow?("seasons", "destroy") %>
  		<li><%= delete_link 'Delete Season', @season %></li>
  	<% end %>
  <% end %>
</div>