<% provide(:title, 'Add Season') %>
<% provide(:header_current, 'Administration') %>

<h1>Add Season</h1>

<div class="row">
	<%= form_for @season, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
		<%= f.error_messages %>
		<%= render 'form', :f => f %>
		<%= f.submit 'Create', :class => 'btn btn-primary' %>
	<% end %>
</div>