<% provide(:title, "#{@season.name}") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Seasons') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'seasons/detail' %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Pieces</h3>
  </div>
	<% if @season_pieces.length > 0 %>
		<%= render 'seasons/pieces_table' %>
	<% else %>
		<div class="panel-body">
	    <p>No pieces found.</p>
	  </div>
	<% end %>
</div>