<div class="dtl-form">
	<div class="row">
		<div class="dtl-label col-sm-4 col-md-4"><%= AgmaContract.human_attribute_name(:costume_increment_min) %></div>
		<div class="dtl-text col-sm-2 col-md-2"><%= "#{@agma_contract.costume_increment_min} minutes" if @agma_contract.costume_increment_min.present? %></div>
    <div class="dtl-text col-sm-6 col-md-6 help-block">Increment in which a Costume Fitting can be called and counted</div>
	</div>
</div>