<% provide(:title, "Dashboard") %>
<% provide(:header_current, 'Home') %>
<% provide(:current, 'Dashboard') %>

<h1>Dashboard</h1>

<div class="span9">
	
</div>

<div class="span3">
	<%= render 'shared/subnav' %>
</div>