<% provide(:title, "Features") %>
<h1>Features</h1>

<h2>Scheduling amny different events</h2>
<p>Schedule Company Class, Rehearsals, and Costume Fittings.
</p>

<h2>Warnings</h2>
<p>Warnings are shown when a person is scheduled for 2 events at the same time</p>

<h2>AGMA Breaks</h2>
<p>You can set how long required rehearsal breaks are in the settings.  These breaks will appear in the schedule automatically.</p>