<% provide(:title, "Features") %>
<% provide(:header_current, 'Features') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>Feature 1</b>
			</div>
			<div class="panel-body">
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
			tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
			malesuada magna mollis euismod. Donec sed odio dui.
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>Feature 2</b>
			</div>
			<div class="panel-body">
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
			tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
			malesuada magna mollis euismod. Donec sed odio dui.
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>Feature 3</b>
			</div>
			<div class="panel-body">
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
			tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
			malesuada magna mollis euismod. Donec sed odio dui.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>Feature 4</b>
			</div>
			<div class="panel-body">
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
			tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
			malesuada magna mollis euismod. Donec sed odio dui.
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>Feature 5</b>
			</div>
			<div class="panel-body">
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
			tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
			malesuada magna mollis euismod. Donec sed odio dui.
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>Feature 6</b>
			</div>
			<div class="panel-body">
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
			tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
			malesuada magna mollis euismod. Donec sed odio dui.
			</div>
		</div>
	</div>
</div>