<% provide(:title, "") %>
<h1>Scheduler</h1>

<h3>Track Rehearsals</h3>
<p>Schedule rehearsal and performances.  Track which piece is 
	being rehearsed and and who should be in the rehearsals.
</p>


<h3>Track AGMA breaks</h3>
<p>Text here for feature.
</p>