<% provide(:title, 'Sign In') %>

<div class="form-signin">
	<h1 class="form-signin-heading">Sign In</h1>
	
	<%= form_tag sessions_path do %>
		<%= text_field_tag :username, params[:username], class: 'form-control', placeholder: 'Username' %>
		<%= password_field_tag :password, nil, { class: 'form-control', placeholder: 'Password'} %>
	
		<%= submit_tag "Sign In", :class => 'form-control btn btn-large btn-primary btn-block' %>
<% end %>
</div>