<% provide(:title, 'New Rehearsal') %>
<h1>New Rehearsal</h1>

<%= form_for @rehearsal, :html => { :class => 'form-horizontal' } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'form', :f => f %>
	
	<%= render 'shared/form_submit', :f => f, :action_text => 'Create' %>
<% end %>