<div class="col-md-1">
  <%= gear_dropdown do %>
    <% if allow? "employees", "new" %>
    	<li><%= new_link "Add Employee", new_employee_path %></li>
    <% end %>
  
  	<% if params['id'].present?  %>
      <% if allow? "employees", "destroy" %>
        <li><%= delete_link 'Delete Employee', @employee %></li>
  	  <% end %>
    <% end %>
  <% end %>
</div>