<div class="panel panel-default">
  <% unless (defined?(panel_title)).nil? %>
    <div class="panel-heading">
      <h2 class="panel-title"><%= panel_title %></h2>
    </div>
  <% end %>
  <div class="panel-body">
    <%= yield %>
  </div>
</div>