<div class="dtl-form">
	<div class="row">
		<div class="dtl-label col-md-4"><%= AgmaContract.human_attribute_name(:class_break_min) %></div>
		<div class="dtl-text col-md-8"><%= "#{@agma_contract.class_break_min} minutes" if @agma_contract.class_break_min.present? %></div>
	</div>
</div>