<ul class="nav nav-tabs" id="eventTab">
	<li class="active"><%= icon_link "Overview", "asterisk", "#overview", data: { toggle: "tab" } %></li>
	<li><%= icon_link "Repeat", "repeat", "#repeat", data: { toggle: "tab" } %></li>
</ul>