<% provide(:title, 'Calendar') %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, 'Calendar') %>

<div class="page-header">
  <h1><%= yield(:title) %>
    <%= render 'schedule/events/tools_menu' %>
  </h1>
</div>

<div class="row">
	<%= content_tag "div", nil, id: "calendar", data: { year: params[:year], month: params[:month], day: params[:day], time_zone: current_user.account.time_zone } %>
</div>

<div id="eventDialog"></div>
<%= render 'new_modal' %>