<% provide(:title, 'Contract Settings') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Contract') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>

<div class="well well-sm mash-well-link">
	<% if allow? "agma_profiles", "edit" %>
		<%= edit_link "Edit", edit_agma_profile_path(@agma_profile) %>
	<% end %>
</div>

<%= render 'agma_profiles/detail' %>