<% provide(:title, 'Contract Settings | Costume Fittings') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Contract') %>

<% content_for :page_header do %>
  Contract Settings
  <div class="pull-right">
    <%= edit_button 'Edit Costume Fitting Settings', company_contract_costume_fitting_edit_path if can? :update, :contract_costume_fitting %>
  </div>
<% end %>

<% content_for :tabs do %>
	<%= render 'company/contract/tabs' %>
<% end %>

<%= render 'company/contract/costume_fitting/detail' %>