<div class="row">
  <div class="dtl-label col-sm-2 col-md-2"><%= label %></div>
  <% invitees.in_groups(3, false).each do |people| %>
    <div class="dtl-text col-sm-3 col-md-3">
      <ul class="list-unstyled">
        <% people.each do |person| %>
          <li><%= person.full_name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>