<% class_active = " class=""active""" %>
<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Home</li>
		<% if allow? "static_pages", "dashboard" %>
			<li<%= class_active if yield(:current) == "Dashboard" %>><%= link_to "Dashboard", dashboard_path %></li>
		<% end %>
		
		<li<%= class_active if yield(:current) == "MySchedule" %>><%= link_to "My Schedule (pending)", "#" %></li>
	</ul>
</div>