<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id="updateModalLabel">
			<%= content_tag(:span, nil, class: "glyphicon glyphicon-calendar") %> You are changing a repeating event
		</h3>
	</div>

	<div class="modal-body">
		Do you want to change only this occurrence of the event, or this and all future occurrences?
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		&nbsp;
		&nbsp;
		
		<% if event == event.event_series.events.first %>
			<%= f.submit 'All', class: 'btn btn-primary' %>
		<% else %>
      <%= f.submit 'All Future Events', class: 'btn btn-primary' %>
		<% end %>
		
    <%= f.submit 'Only This Event', class: 'btn btn-primary' %>
	</div>
	
</div> <!-- modal-content -->
</div> <!-- modal-dialog -->
</div> <!-- modal -->