<% provide(:title, 'Daily Schedule') %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, 'Daily') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>

<input id="date" type="hidden" name="date" value="<%= @date.strftime('%Y/%m/%d') %>">

<%= daily_calendar(@date, @locations) do |location| %>
	<% if @events.has_key?(location) %>

		<% @events[location].each do |event| %>
			<%= render 'event', :event => event %>
		<% end %>
		
	<% end %>
<% end %>