<% provide(:title, 'Daily Schedule') %>
<% provide(:header_current, 'Scheduling') %>
<% provide(:current, 'Events') %>

<div class="span9">	
	<%= daily_calendar(@date, @locations) do |location| %>
		<% if @events.has_key?(location) %>

			<% @events[location].each do |event| %>
				<% if event.type == "Rehearsal" %>
					<%= render 'rehearsal', :rehearsal => event %>
				<% elsif event.type == "CompanyClass" %>
					<%= render 'company_class', :cclass => event %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>

<div class="span3">	
	<%= render 'shared/subnav' %>
	
	<div class="section">
		<div id="datepicker"></div>
	</div>
</div>