<% provide(:title, 'Calendar') %>
<% provide(:header_current, 'Calendar') %>
<% provide(:sidebar_current, 'Calendar') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= yield(:title) %></h1>
  </div>
  <%= render 'events/tools_menu' %>
</div>

<div class="row">
	<%= content_tag "div", nil, id: "calendar", data: { year: params[:year], month: params[:month], day: params[:day] } %>
</div>

<div id="eventDialog"></div>
<%= render 'new_modal' %>