<div class="filter-group span10 offset2">
	<%= link_to 'Active', pieces_path, :class => 'filter'+( status == "active" ? " active" : "" ) %>
	<span class="divider-vertical"></span>
	<%= link_to 'Inactive', inactive_pieces_path, :class => 'filter'+( status == "inactive" ? " active" : "" ) %>
</div>