<fieldset>
	<div class="control-group required">
		<%= f.label :name, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :name %>
		</div>
	</div>

	<% if !f.object.new_record? %>
		<div class="control-group required">
			<%= f.label :active, "Status", :class => 'control-label' %>
			<div class="controls">
				<%= f.select :active, options_for_select(status_dropdown_values()) %>
			</div>
		</div>
	<% end %>
</fieldset>