<% txt = " class=""active""" %>
<ul class="nav nav-pills">
	<li<%= txt if active_tab == "Scenes" %>><%= link_to "Scenes", piece_scenes_path(@piece) %></li>
	<li<%= txt if active_tab == "Roles" %>><a href="#">Roles</a></li>
	<li<%= txt if active_tab == "Casts" %>><a href="#">Casts</a></li>
</ul>