<div class="control-group">
	<%= f.text_field :order_num, :class => 'input-mini inline', :placeholder =>"#" %>
	<%= f.text_field :name, :placeholder =>"Scene Name" %>
	&nbsp;
	<%= link_to 'remove', '#' %>
</div>