<% provide(:title, 'Edit Piece') %>
<h1>Edit Piece</h1>

<%= form_for @piece, :html => { :class => 'form-horizontal' } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'form', :f => f %>
	
	<%= render 'shared/form_submit', :f => f, :action_text => 'Update' %>
<% end %>