<% provide(:title, "#{@piece.name} | Overview") %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Pieces') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1>
      <%= @piece.name %>
      <small>Overview</small>
    </h1>
  </div>
  <%= render 'pieces/tools_menu' %>
</div>

<div class="row mash-show">
	<%= render 'pieces/tabs' %>
	
	<div class="mash-body">
		<%= render 'pieces/detail' %>
	</div>
</div>