<% provide(:title, 'Edit Subscription') %>
<% provide(:header_current, 'Administration') %>

<h1>Edit Subscription</h1>
<div class="offset2 span10">
	<p class="muted">Fill out the form below to change your subscription information or cancel 
		your subscription. If you do not want to change your subscription, you can go back to
		<%= link_to "My Subscription", subscriptions_current_path %>.
	</p>
</div>

<% if allow? "subscriptions", "destroy" %>
	<div class="offset2">
		<h2>Or Cancel Your Subscription</h2>
		<%= delete_button 'Cancel Subscription', subscriptions_cancel_path, :action => 'destroy' %>
	</div>
<% end %>