<% provide(:title, 'My Subscription') %>
<% provide(:header_current, 'Administration') %>

<h1>My Subscription</h1>

<h2>Payment History</h2>

<div class="text-center">
	<h3>Next payment will be processed on <%= @account.next_invoice_date.strftime('%B %-d, %Y') %></h3>
</div>

<% if allow? "subscriptions", "edit" %>
	<div class="text-center">
		<%= link_to 'Change Subscription & Payment Method', subscriptions_edit_path, :class => 'btn' %>
	</div>
<% end %>