<% provide(:title, 'My Subscription') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Subscription') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>
<div class="well well-sm mash-well-link">
	<% if allow? "payments", "edit" %>
		<%= edit_link 'Change Payment Method', payments_edit_path %>
	<% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'subscriptions/detail' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Payment History</h3>
  </div>
	<% if @invoices.length > 0 %>
		<%= render 'subscriptions/payment_history_table' %>
	<% else %>
		<div class="panel-body">
	    <p>No payments found.</p>
	  </div>
	<% end %>
</div>