<% provide(:title, 'My Account | Subscription') %>
<% provide(:header_current, 'Home') %>
<% provide(:sidebar_current, 'Account') %>

<div class="page-header">
  <h1>My Account
    <small>Subscription</small>
    <div class="pull-right">
      <%= icon_link 'Change Payment Method', 'credit-card', payments_edit_path, class: 'btn btn-default' if can? :update, :payment %>
    </div>
  </h1>
</div>

<div class="row mash-show">
	<%= render 'accounts/tabs' %>
	
	<div class="mash-body">
    <%= render 'subscriptions/detail' %>
    
    <div class="row" style="margin-top:15px;">
      <div class="col-md-offset-1 col-md-10">
    		<%= render 'subscriptions/payment_history_table' %>
      </div>
    </div>
  </div>
</div>