<div class="dtl-form">
	<div class="row">
		<div class="dtl-label col-sm-3 col-md-3"><%= Employee.human_attribute_name(:employee_num) %></div>
		<div class="dtl-text col-sm-9 col-md-9"><%= @employee.employee_num %></div>
	</div>
  
	<div class="row">
		<div class="dtl-label col-sm-3 col-md-3">Start Date</div>
		<div class="dtl-text col-sm-9 col-md-9"><%= @employee.employment_start_date %></div>
	</div>

	<div class="row">
		<div class="dtl-label col-sm-3 col-md-3">End Date</div>
		<div class="dtl-text col-sm-9 col-md-9"><%= @employee.employment_end_date %></div>
	</div>
    
  <% if @employee.agma_artist? %>
	<div class="row">
		<div class="dtl-text col-sm-offset-3 col-md-offset-3 col-sm-9 col-md-9">AGMA Artist</div>
	</div>
  <% end %>
  
  <% if @employee.musician? %>
	<div class="row">
		<div class="dtl-text col-sm-offset-3 col-md-offset-3 col-sm-9 col-md-9">Musician</div>
	</div>
  <% end %>
  
  <% if @employee.instructor? %>
	<div class="row">
		<div class="dtl-text col-sm-offset-3 col-md-offset-3 col-sm-9 col-md-9">Instructor</div>
	</div>
  <% end %>
</div>