<% provide(:title, 'Contract Settings | Rehearsal Week') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Contract') %>

<% content_for :page_header do %>
  Contract Settings
  <div class="pull-right">
    <%= edit_button 'Edit Rehearsal Week Settings', company_contract_rehearsal_week_edit_path if can? :update, :contract_rehearsal_week %>
  </div>
<% end %>

<% content_for :tabs do %>
	<%= render 'company/contract/tabs' %>
<% end %>

<%= render 'company/contract/rehearsal_week/detail' %>