<% provide(:title, 'Add Address') %>
<% provide(:header_current, 'Employees') if @address.addressable_type == "Employee" %>
<% provide(:header_current, 'Administration') if @address.addressable_type == "Account" %>

<h1>Add Address</h1>

<div class="row">
	<%= form_for [@addressable, @address], builder: BootstrapFormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
		<%= f.error_messages %>
		<%= render 'form', :f => f %>
		<%= f.submit 'Create', :class => 'btn btn-primary' %>
	<% end %>
</div>