<% klass = ' class="active"'.html_safe %>
<nav class="navbar navbar-default mash-sub-navbar" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="#">My Schedule</a></li>
    <li><a href="#">Current Season</a></li>
    
		<% if allow? "accounts", "show" %>
			<li<%= klass if yield(:sidebar_current) == "Account" %>>
				<%= link_to "My Account", account_path(current_user.account_id) %>
			</li>
		<% end %>
  </ul>
</nav>