div.ui-datepicker { font-size: .9em; }

$calendarBorder: #d3d3d3;
$calendarHeaderBackground: #e6e6e6;
$calendarHourHeight: 79px;
$calendarHourWidth: 60px;
$calendarTimeHeight: 19px;

$edarkgrey: #9B9B9B;

table.calendar {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	vertical-align: top;
	width: 100%;
	
	thead {
		text-align: center;
		font-weight: bold;
		font-size: 1.1em;
		background: $calendarHeaderBackground;
	}
	
	.dayofweek-header {
		font-size: 1.2em; font-weight: bold;
		text-align: center; vertical-align: middle;
		background: $calendarHeaderBackground;
		color: $edarkgrey;
		border-top: 1px solid $calendarBorder;
		border-left: 1px solid $calendarBorder;
		border-right: 1px solid $calendarBorder;
		&:last-child {
			border-bottom: 1px solid $calendarBorder;
		}
	}
	
	.cal-blue {
		background: #dfeffc;
		border: 2px solid #c5dbec;
	}
	.cal-yellow {
		background: #fff9e5;
		border: 2px solid #fcefa1;
	}
	.cal-green {
		background: #f1fbe5;
		border: 2px solid #BADFA2;
	}
	.cal-red {
		background: #E5A6B1;
		border: 2px solid #BE7A84;
	}
	.cal-brown {
		background: #cbc7bd;
		border: 2px solid #654b24;
	}
	.cal-grey {
		background: #c9c9c9;
		border: 2px solid #aaaaaa;
	}
	
}
  
#calendar-weekly, #calendar-daily {
	position: relative;
}
.cal-scrollable {
	height: 721px;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.cal-weekly, .cal-daily {
	/** FOR BACKGROUND GRID ***/
	.hour-column {
		width: $calendarHourWidth;
	}
	.grid-container { position: relative; height: 1px; }
	.hours-wrapper, .grid-wrapper {
		position: absolute;
		width: 100%;
	}
	.hours-wrapper {
		background: $calendarHeaderBackground;
		font-size: .9em;
		text-align: center;
	}
	.hour-slot {
		height: $calendarHourHeight;
		border-bottom: 1px solid $calendarBorder;
	}
	.time-slot {
		height: $calendarTimeHeight;
		border-bottom: 1px dotted $calendarBorder;
	}
	.hour-end {
		border: none;
	}
	
	/*** FOR DATA IN GRID ***/
	.day-container {
		position: relative;
		height: 1920px;
		border-right: 1px solid $calendarBorder;
	}
	
	.cal-event {
		position: absolute;
		width: 95%;
		font-size: .9em;
		background: #c9c9c9;
		border: 2px solid #aaaaaa;
		padding-left: 2px;
		border-radius: 5px;
		overflow-x: hidden !important;
		overflow-y: hidden !important;
		
		.cal-main { width: 70%; }
		.cal-side {
			width: 30%;
			text-align: right;
		}
	}
}