/*** jQUERY DATEPICKER ***/
.section {
	margin-bottom: 8px;
	.ui-datepicker {
		width: 99%;
		padding: 0;
	}
	.ui-widget { font-size: 0.9em; }
	.ui-datepicker table { font-size: 0.9em; }
}

/*** FullCalendar ***/
.fc-grid {
	font-size: 13px;
	.fc-event-time { font-weight: normal; }
}
.fc-event-title { font-weight: bold; }
.fc-event-location { padding: 0 1px; }

.cal-blue {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #31708F;
}
.cal-yellow {
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	color: #8A6D3B;
}
.cal-green {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #3C763D;
}
.cal-red {
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}
.cal-brown {
	background-color: #cbc7bd;
	border-color: #654b24;
	color: #654b24;
}