/*** COLUMN SIZES ***/
td.mash-col-1-btn {
	width: 30px;
	}
td.mash-col-2-btn {
	width: 70px;
	}
td.mash-col-3-btn {
	width: 100px;
	}

/*** ERRORS ***/
#stripe_error {
	display: none;
	}

/*** SHOW DETAILS ***/
.dtl-form {
	.dtl-label {
		display: inline-block;
		font-weight: bold;
		text-align: right;
		margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;
	}
	.dtl-label:after { content: " :"; }
	.dtl-text {
		margin-bottom: 0;
		padding-top: 7px;
	}
  .help-block { margin-top: 0; }
}

/*** PAGINATION AND FILTERS ***/
.pagination {
	margin: 0 18px;
	.current, a:hover { background-color: #F5F5F5; }
	a, em, span {
		padding: 4px 12px;
		line-height: 20px;
		border: 1px solid #DDDDDD;
		border-radius: 2px;
		text-decoration: none;
	}
}

.handle {
	cursor: move; 
	.ui-icon { float: left; margin: 0 4px; }
}

/*** SUB NAV ***/
.mash-sub-navbar {
  font-size: .9em;
  min-height: 25px;
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 5px;
  .navbar-nav > li > a {
      padding: 5px 15px;
      line-height: 15px;
  }
}
.mash-gear {
  margin-left: 5px;
  margin-top: 9px;
}