/*** COLUMN SIZES ***/
td.mash-col-3-btn {
	width: 100px;
	}

/*** ERRORS ***/
#stripe_error {
	display: none;
	}

/*** SHOW DETAILS ***/
.dtl-form {
	.dtl-label {
		display: inline-block;
		font-weight: bold;
		text-align: right;
		margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;
	}
	.dtl-label:after { content: " :"; }
	.dtl-text {
		margin-bottom: 0;
		padding-top: 7px;
	}
}

/*** PAGINATION AND FILTERS ***/
.pagination {
	margin: 0 18px;
	.current, a:hover { background-color: #F5F5F5; }
	a, em, span {
		padding: 4px 12px;
		line-height: 20px;
		border: 1px solid #DDDDDD;
		border-radius: 2px;
		text-decoration: none;
	}
}

.handle {
	cursor: move; 
	.ui-icon { float: left; margin: 0 4px; }
}