/*** FORMS ***/
form {
	label {
	font-weight: bold; 
	&:after { content: ":"; }
	}
	.required label {
		&:before {
			padding-right: 2px;
			content: "*";
			color: red;
			font-size: 1.1em;
		}
	}
	.field_with_errors { display: inline; }
}

/*** PAGINATION AND FILTERS ***/
.pagination {
	margin: 0 18px;
	.current, a:hover { background-color: #F5F5F5; }
	a, em, span {
		padding: 4px 12px;
		line-height: 20px;
		border: 1px solid #DDDDDD;
		border-radius: 2px;
		text-decoration: none;
	}
}

/*** SHOW PAGES ***/
.show-ui {
	.row { margin-bottom: 10px;}
	.label-ui {
		font-weight: bold;
		text-align: right;
		&:after { content: ":"; }
	}
	.text-ui {}
	.row-action { margin-top: 15px; }
}

.section {
	h2 {
    border-bottom: 1px solid #E5E5E5;
	}
}

.handle {
	cursor: move; 
	.ui-icon { float: left; margin: 0 4px; }
}