// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** EVENT SPECIFIC ***/
.cal-event {
	.title { font-weight: bold; line-height: 1em; }
	.location, .invitees { color: #999; }
	.time { font-size: 0.95em; }
	.piece, .time, .invitees {}
	.actions { text-align: right; }
}

/*** DATEPICKER RESIZING ***/
.section {
	margin-bottom: 8px;
	.ui-datepicker {
		width: 99%;
		padding: 0;
	}
	.ui-widget { font-size: 0.9em; }
	.ui-datepicker table { font-size: 0.9em; }
}