<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Rehearsal Breaks
      <span class="pull-right">
        <%= icon_link nil, 'plus', [:new, @agma_contract, :rehearsal_break], class: 'mash-green', title: 'Add Rehearsal Break' if can? :create, @agma_contract => RehearsalBreak %>
      </span>
    </h3>
	</div>
	
  <% if rehearsal_breaks.length > 0 %>
  	<table class="table table-striped">
  		<tbody>
  			<% rehearsal_breaks.each do |brk| %>
  				<tr>
  					<td><%= brk.duration_min %> min rehearsal</td>
  					<td><%= brk.break_min %> min break</td>
  					<td class="mash-col-1-btn">
  						<%= delete_button nil, brk, :class => 'btn-xs', :id => "delete_#{brk.id}" if can? :destroy, brk %>
  					</td>
  				</tr>
  			<% end %>
  		</tbody>
  	</table>
  <% else %>
    <div class="panel-body">
      <p>There are currently no breaks for this contract.</p>
    	<p>To begin, click the <em class="text-info">Add Rehearsal Break</em> link above.</p>
    </div>
  <% end %>
</div>