<% klass = ' class="active"'.html_safe %>
<ul class="nav nav-tabs">
  <% if can? :read, resource %>
  	<li<%= klass if params[:controller] == 'schedule/rehearsals' %>>
      <%= icon_link 'Overview', 'asterisk', schedule_rehearsal_path(resource) %>
    </li>
  <% end %>
  
  <% if can? :create, :invitees %>
  	<li<%= klass if params[:controller] == 'schedule/invitees' %>>
      <%= icon_link 'Invitees', 'user', schedule_event_invitees_path(resource.event) %>
    </li>
  <% end %>
</ul>