<ul class="nav nav-tabs">
	<li class="active"><%= link_to 'Rehearsal Week', '#rehearsal-week', data: { toggle: 'tab' } %></li>
	<li><%= link_to 'Company Class', '#company-class', data: { toggle: 'tab' } %></li>
	<li><%= link_to 'Costume Fittings', '#costume-fitting', data: { toggle: 'tab' } %></li>
</ul>