<% provide(:title, 'Contract Settings') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Contract') %>

<div class="row">
  <div class="page-header col-md-11">
  	 <h1><%= yield(:title) %></h1>
  </div>
  <%= render 'agma_contracts/tools_menu' %>
</div>

<div class="row mash-show">
	<%= render 'agma_contracts/tabs' %>
  
  <div class="mash-body">
    <%= render 'agma_contracts/detail' %>
  </div>
</div>