<% provide(:title, 'Contract Settings') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Contract') %>

<div class="page-header">
  <h1><%= yield(:title) %>
    <div class="pull-right">
      <%= edit_button 'Edit Contract Settings', edit_agma_contract_path(@agma_contract) if can? :update, @agma_contract %>
    </div>
  </h1>
</div>

<div class="row mash-show">
	<%= render 'agma_contracts/tabs' %>
  
  <div class="mash-body">
    <%= render 'agma_contracts/detail' %>
  </div>
</div>