<% provide(:title, 'Contract Settings') %>
<% provide(:header_current, 'Setup') %>
<% provide(:sidebar_current, 'Contract') %>

<div class="page-header">
	<h1><%= yield(:title) %></h1>
</div>

<div class="mash-show-tab">
	<%= render 'agma_contracts/tabs' %>
	<%= render 'agma_contracts/detail' %>
	
	<div class="mash-tab-actions">
		<% if allow? "agma_contracts", "edit" %>
			<%= edit_button "Edit", edit_agma_contract_path(@agma_contract) %>
		<% end %>
	</div>
</div>