<%= gear_dropdown do %>
  <% if !@season_piece.published? && can?(:update, :publish_cast) %>
    <li><%= icon_link 'Publish Casting', 'book', company_publish_cast_path(@season_piece), method: :put %></li>
  <% end %>

  <% if can? :read, Cast %>
    <li><%= pdf_link "Download PDF", season_piece_casts_path(@season_piece, format: "pdf") %></li>
  <% end %>
<% end %>