<table class="table table-hover">
  <thead>
    <tr>
      <th colspan= "2">Rehearsal Week: Artist Over Maximum Rehearsal Hours in a Day</th>
    </tr>
  </thead>
  <tbody>
    <% if warnings.present? %>
      <% warnings.each do |dt, messages| %>
        <% messages.each do |msg| %>
          <tr>
            <td><%= dt.to_s %></td>
            <td><%= msg %></td>
          </tr>
        <% end %>
      <% end %>
    
    <% else %>
      <tr>
        <td colspan="2">Everything looks great! No warnings found.</td>
      </tr>
    <% end %>
  </tbody>
</table>