<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Scheduler", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Locations",    '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>