<nav class="navbar navbar-default navbar-fixed-top" role="banner">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		<a class="navbar-brand" href="#">Scheduler</a>
	</div>
		
	<div class="collapse navbar-collapse" id="sidebar-collapse-1">
	<% if current_user %>
		<%= render 'layouts/header_app' %>
	<% else %>
		<%= render 'layouts/header_home' %>
	<% end %>
	</div>
</nav>

<% if yield(:header_current).present? && lookup_context.exists?(yield(:header_current).downcase, ["layouts/sidebars"], true) %>
   <%= render "layouts/sidebars/#{yield(:header_current).downcase}" %>
<% end %>