<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Scheduler", '#', class: "brand" %>
			<% if current_user %>
				<%= render 'layouts/header_app' %>
			<% else %>
				<%= render 'layouts/header_home' %>
			<% end %>
		</div>
	</div>
</div>